BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman
SortIncludes: true
AlwaysBreakTemplateDeclarations: Yes
ReflowComments: true
SpacesBeforeTrailingComments: 1